@import './variaveis';

#cuidados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $cor-primaria;
    font-size: calc($tamanho-do-texto / 3);
    font-weight: 300;

    .img-cuidados {
        margin: 30px 120px;
        ;
    }

    .bem-estar {
        padding: 80px;
        border-bottom: 1px solid $cor-primaria;
        line-height: 1.5rem;

        h3 {
            color: $cor-secundaria;
            font-size: calc($tamanho-do-texto / 2.5);
            text-transform: uppercase;
            font-weight: bold;
        }

        h4, p {
            color: $cor-secundaria;
            font-size: calc($tamanho-do-texto / 2.5);
        }

        .produtos {
            color: $cor-primaria;
            font-weight: bold;
        }

        button {
            margin-top: .75rem;
            outline: none;
            height: 40px;
            text-align: center;
            width: 130px;
            background-color: $cor-primaria;
            color: $cor-terciaria;
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            border: 2px solid $cor-primaria;
            border-radius: 40px;

            &:hover {
                color: $cor-primaria;
                background-color: $cor-terciaria;
                border-color: $cor-primaria;
        }
    }
}
}